<!DOCTYPE html>
<html lang="ur" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Urdle</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="game-container">
  <h1>اردل</h1>

  <div class="board" id="board"></div>

  <div class="keyboard" dir="rtl">
    <div class="keyboard-row">
      <button class="key">ق</button>
      <button class="key">و</button>
      <button class="key">ع</button>
      <button class="key">ر</button>
      <button class="key">ت</button>
      <button class="key">ء</button>
      <button class="key">ے</button>
      <button class="key">ی</button>
      <button class="key">پ</button>
      <button class="key">چ</button>
    </div>

    <div class="keyboard-row">
      <button class="key">ا</button>
      <button class="key">س</button>
      <button class="key">د</button>
      <button class="key">ف</button>
      <button class="key">گ</button>
      <button class="key">ھ</button>
      <button class="key">ج</button>
      <button class="key">ک</button>
      <button class="key">ل</button>
      <button class="key">م</button>
    </div>

    <div class="keyboard-row">
      <button class="key">ن</button>
      <button class="key">ش</button>
      <button class="key">ط</button>
      <button class="key">ض</button>
      <button class="key">ص</button>
      <button class="key">ظ</button>
      <button class="key">ز</button>
      <button class="key">ح</button>
      <button class="key">خ</button>
      <button class="key">غ</button>
    </div>

    <div class="keyboard-row">
      <button class="key">آ</button>
      <button class="key">ب</button>
      <button class="key">ث</button>
      <button class="key">ذ</button>
      <button class="key">ٹ</button>
      <button class="key">ڈ</button>
      <button class="key">ڑ</button>
      <button class="key">ژ</button>
      <button class="key">ہ</button>
      <button class="key">ں</button>
    </div>
  </div>



  <!-- Actions -->
    <div class="keyboard-row">
      <button class="key action" data-action="backspace">⌫</button>
      <button class="key action" data-action="enter">⏎</button>
    </div>
  </div>

</div>

<script th:inline="javascript">
  /*<![CDATA[*/
  const word = /*[[${word}]]*/ "آبادی";
  /*]]>*/
</script>
<script src="/javascript/word.js"></script>
</body>
</html>
